.link-container {
  display: flex;
  flex-direction: row;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #1d1d1f;
}
.link-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #775ce5;
}
