.page {
  margin: 0 auto;
  width: 393px;
  height: 852px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0 20px;
  overflow: hidden;
  position: relative;
}
.page-background.white {
  background-color: #fff;
}
.page-background.gray {
  background-color: #f5f5f7;
}
