.transaction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}
.transaction-title {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  color: #24b277;
}
.transaction-container-info {
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  background-color: #fff;
}
.transaction-item {
  display: flex;
  justify-content: space-between;
}
.transaction-info {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #1d1d1f;
}
